form,
main {
  display: flex;
  padding-block: 20px;
}
main {
  padding-inline: 160px;
  justify-content: center;
}
form {
  flex-direction: column;
}
.form-header,
.form-label {
  flex-direction: column;
  padding-bottom: 12px;
  padding-inline: 16px;
  display: flex;
}
.form-header {
  justify-content: center;
  padding-top: 20px;
}
h2 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
}
.form-label {
  align-items: flex-start;
  padding-top: 4px;
}
.form-label span {
  font-size: 14px;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}
.form-input {
  border-radius: 12px;
  padding: 15px;
  border: 1px solid;
}
.form-button {
  display: flex;
  padding: 12px 16px;
  justify-content: flex-end;
}
.form-button button {
  height: 40px;
  border: none;
  border-radius: 12px;
  padding: 0 16px;
  background-color: #1a80e5;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.form-button button:hover {
  background-color: #1373c2;
}
.form-button button:active {
  background-color: #0f608e;
}
